# Node modules
**/node_modules/

# Env files
**/.env
**/client/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / production
client/build/
server/dist/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp

# Misc
coverage/
